<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>首页检索</title>
</head>
<body>
<div class="page-container">
	<input type="text" name="" id=""  placeholder=" 病种名称" style="width: 800px" class="input-text"/>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
	<button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 查询</button>
	<p class="f-12 text-success">*组内的条件是或的关系，组与组之前是并且的关系</p>
	<!--<p class="f-20 text-success">欢迎使用H-ui.admin <span class="f-14">v3.1</span>后台模版！</p>-->
	<p>登录次数：18 </p>
	<p>上次登录IP：222.35.131.79.1 </p>
	<p>上次登录时间：2018-5-23 11:19:55</p>
	<table class="table table-border table-bordered table-bg">
		<thead>
			<tr>
				<th colspan="14" scope="col">信息统计</th>
			</tr>
			<tr class="text-c">
				<th>患者编码</th>
				<th>住院编码</th>
				<th>性别</th>
				<th>年龄</th>
				<th>婚否</th>
				<th>职业</th>
				<th>民族</th>
				<th>BMI</th>
				<th>住院科室</th>
				<th>入院时间</th>
				<th>病理类型</th>
				<th>病理分期</th>
				<th></th>

			</tr>
		</thead>
		<tbody>
			<tr class="text-c">
				<td>201801</td>
				<td>20180101</td>
				<td>女</td>
				<td>34</td>
				<td>已婚</td>
				<td>农民</td>
				<td>汉族</td>
				<td>24</td>
				<td>五科</td>
				<td>2018-5-23</td>
				<td>肺结核</td>
				<td>I B1期</td>
				<td><a href="_blank.html"><p>详情</p></a></td>
			</tr>
			<tr class="text-c">
				<td>201802</td>
				<td>20180102</td>
				<td>女</td>
				<td>56</td>
				<td>已婚</td>
				<td>农民</td>
				<td>汉族</td>
				<td>34</td>
				<td>骨科</td>
				<td>2018-5-14</td>
				<td>骨质增生</td>
				<td>I B1期</td>
				<td><a href="_blank.html"><p>详情</p></a></td>
			</tr>
			<tr class="text-c">
				<td>201803</td>
				<td>20180103</td>
				<td>男</td>
				<td>45</td>
				<td>已婚</td>
				<td>农民</td>
				<td>汉族</td>
				<td>45</td>
				<td>内科</td>
				<td>2018-5-04</td>
				<td>心脏</td>
				<td>I B1期</td>
				<td><a href="_blank.html"><p>详情</p></a></td>
			</tr>
			<tr class="text-c">
				<td>201804</td>
				<td>20180104</td>
				<td>男</td>
				<td>34</td>
				<td>已婚</td>
				<td>农民</td>
				<td>汉族</td>
				<td>22</td>
				<td>五科</td>
				<td>2018-4-23</td>
				<td>耳朵</td>
				<td>I B1期</td>
				<td><a href="_blank.html"><p>详情</p></a></td>
			</tr>
			<tr class="text-c">
				<td>201805</td>
				<td>20180105</td>
				<td>女</td>
				<td>24</td>
				<td>已婚</td>
				<td>农民</td>
				<td>汉族</td>
				<td>24</td>
				<td>妇科</td>
				<td>2018-3-23</td>
				<td>孕检</td>
				<td>I B1期</td>
				<td><a href="_blank.html"><p>详情</p></a></td>
			</tr>
		</tbody>
	</table>
</div>
<footer class="footer mt-20">
	<div class="container">
		<p>颐东信息数据分析平台 V1.0</p>
	</div>
</footer>
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
</body>
</html>